<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">

	<title>DinkDonk</title>

	<link rel="stylesheet" type="text/css" href="/app.css">

	<script>
		var loadStarted = Date.now();
	</script>
</head>
<body>
	<div class="loader">Loading...</div>

	<div class="app hidden">
		<ul class="tabs">
			<li tab-controls="script-tab-content">Script</li>
			<li tab-controls="style-tab-content">Style</li>
			<li tab-controls="markup-tab-content">Markup</li>
		</ul>

		<div id="script-tab-content" tab-content>
			<div id="script-editor"></div>
		</div>

		<div id="style-tab-content" tab-content>
			<div id="style-editor"></div>
		</div>

		<div id="markup-tab-content" tab-content>
			<div id="markup-editor"></div>
		</div>

		<div id="console">
			<iframe id="output" src="about:blank"></iframe>
		</div>
	</div>

	<script src="/vs/loader.js"></script>
	<script src="/app.js"></script>
</body>
</html>