div.ace_editor {
	position: absolute;
	width: 100%;
	height: 100px;
	height: calc(100% - 60px);
	left: 0;
	top: 60px;
	font-family: 'Operator Mono Book';
	font-size: 22px;
}

#script-editor {

}

#style-editor {

}

#markup-editor {

}

#console {
	background-color: $color1;

	iframe {
		border: none;
	}
}

.ace-dinkdonk .ace_indent-guide {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADAgMAAAAvs40RAAAACVBMVEUuLC8AAAAmRckNCnWbAAAAA3RSTlP//wDXyg1BAAAACXBIWXMAAAsTAAALEwEAmpwYAAAADklEQVQImWNgYGhgaAAAAgYBAb7njAkAAAAASUVORK5CYII=) right repeat-y;
}

.ace-dinkdonk div.ace_gutter {
	color: rgba(#FFFBD9, 0.5);
}

.ace-dinkdonk .ace_variable.ace_type {
	color: $color7;
}