$color1: #fffbd9;
$color2: #f7f06f;
$color3: #b6a997;
$color4: #cce8d3;
$color5: #94d7a6;
$color6: #39686b;
$color7: #a6ccd9;
$color8: #70cff6;
$color9: #303840;
$color10: #18181b;
$color11: #8d4ca1;
$color12: #eb175e;
$color13: #eb581b;